<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:py="http://genshi.edgewall.org/"
        xmlns:xi="http://www.w3.org/2001/XInclude">
    
    <xi:include href="${relative('wiki.templates.master')}" />
    
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''" />
        
        <title py:if="article">Modifying <span py:replace="article.name">Article Name</span></title>
        <title py:if="not article">Creating a New Article</title>
    </head>
    
    <body>
        <div class="content">
            <xi:include href="${relative('wiki.templates.modify_form')}" />
        </div>
    </body>
</html>