<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<form xmlns="http://www.w3.org/1999/xhtml"
        xmlns:py="http://genshi.edgewall.org/"
        xmlns:xi="http://www.w3.org/2001/XInclude"
        method="post"
        class="modify">
        
        <dl>
            <dt><label>Article Name:</label></dt>
            <dd><input name="name" type="text" py:attrs="{'value': article.name} if article else {'value': name}" /></dd>
            
            <dt><label>Article Content:</label></dt>
            <dd><textarea name="content" py:content="article.content if article else ''"></textarea></dd>
        </dl>
            
        <input type="submit" />
</form>