<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:py="http://genshi.edgewall.org/"
        xmlns:xi="http://www.w3.org/2001/XInclude">
    
    <xi:include href="${relative('wiki.templates.master')}" />
    
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''" />
        
        <title py:content="article.name">Article Name</title>
        
        <script type="text/javascript" charset="utf-8">
            $(function(){
                
                $('.modify-link').click(function(){
                    $('.content').load('${web.url.compose(article.name, 'modify_ajax')}', function(){
                        $('.links').hide();
                        $('textarea').focus();
                        $('.modify').submit(function(){
                            $('.content').load('${web.url.compose(article.name, 'modify_ajax')}', {
                                    'name': $('input:first').val(),
                                    'content': $('textarea:first').val()
                                }, function(){ $('.links').show(); });
                            return false;
                        });
                    });
                    return false;
                });
                
                $('.delete-link').click(function(){ return confirm('Are you sure you wish to delete this article?  This action can not be un-done.'); })
                
            });
        </script>
    </head>
    
    <body class="wiki article">
        <div class="links">
            <a class="modify-link" href="${web.url.compose(article.name, 'modify')}">Modify</a> |
            <a class="delete-link" href="${web.url.compose(article.name, 'delete')}">Delete</a> |
            <a class="index-link" href="${web.url('/Index')}">Article Index</a>
        </div>
        
        <div class="content" py:content="HTML(content)">Wiki page content goes here.</div>
    </body>
</html>