*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
coverage.xml
.tox
.cagoule.db
.cache/

# Translations
*.mo

# Mac
.DS_Store

# Extras
thirdparty/
htmlcov/
