<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
    <xi:include py:if="'master' in cmf and not isinstance(cmf.master, list)" href="${cmf.master}" />
    <xi:include py:if="'master' in cmf and isinstance(cmf.master, list)" py:for="master in cmf.master" href="${master}" />
    
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
        
        <title py:content="asset.title">Untitled</title>
    </head>
    
    <body>
        <div class="yui-b">
            <h2 py:content="asset.title">Contents of Untitled</h2>
            
            <div py:if="asset.description" py:content="asset.description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            
            <div class="content">
                <dl class="cmf-asset-list">
                    <py:for each="child in assets">
                        <dt><a href="${child.path}/" py:content="child.title" /></dt>
                        <dd py:if="asset.properties['cmf.general:bylines']">by 
                            <span py:if="child.owner"><a py:attrs="{'href': child.owner.path + '/'}" class="icon base-account" py:content="child.owner.title">Joe Random Hacker</a></span>
                            <span py:if="not child.owner"><i>Anonymous</i></span>
                            <span class="date"><abbr class="datetime" py:attrs="{'title': child.created.isoformat()}" py:content="'on ' + child.created.strftime(asset.properties['cmf.formats:date'])" /></span
                            > with <a href="" class="icon comments">no comments</a>.
                        </dd>
                        <dd py:if="child.description" py:content="child.description" />
                        <dd py:if="not child.description"><em>No description available.</em></dd>
                        <dd py:if="child.tags">
                            <ul class="tags">
                                <li py:for="tag in child.tags" py:if="':' not in tag"><a href="${asset.path}/tags/${tag}" class="icon tag" py:content="tag" /></li>
                            </ul>
                        </dd>
                        <dd py:if="child.modified and child.modified != child.created" class="icon updated">
                            <span py:if="not asset.properties['cmf.general:bylines']">Written <abbr class="datetime" py:attrs="{'title': child.modified.isoformat()}" py:content="'on ' + child.created.strftime(asset.properties['cmf.formats:date'])" />.</span>
                            Modified <abbr class="datetime" py:attrs="{'title': child.modified.isoformat()}" py:content="'on ' + child.modified.strftime(asset.properties['cmf.formats:date'])" />.
                        </dd>
                    </py:for>
                </dl>
            </div>
        </div>
    </body>
</html>