<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
    <body>
        <h1>This is a template!</h1>
        <p>The current time is: ${now.strftime('%c')}.</p>
        <ul>
          <li><a href="translate?lingua=en">English</a></li>
          <li><a href="translate?lingua=de">Deutsch</a></li>
          <li><a href="translate?lingua=es">Español</a></li>
          <li><a href="translate?lingua=fr">Français</a></li>
          <li><a href="translate?lingua=it">Italiano</a></li>
          <li><a href="translate?lingua=nl">Nederlands</a></li>
        </ul>
    </body>
</html>
