<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
    <xi:include py:if="'master' in cmf and not isinstance(cmf.master, list)" href="${cmf.master}" />
    <xi:include py:if="'master' in cmf and isinstance(cmf.master, list)" py:for="master in cmf.master" href="${master}" />
    
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
        
        <title py:content="asset.title">Untitled</title>
        
        <meta py:if="asset.description" name="description" py:attrs="{'content': asset.description}" />
        <meta py:if="asset.tags" name="keywords" py:attrs="{'content': ', '.join([tag for tag in asset.tags if ':' not in tag])}" />
    </head>
    
    <body>
        <div class="yui-b">
            <h2 py:content="asset.title">Page Title</h2>
            
            <div class="content">
                <p class="lead" py:if="asset.description" py:content="asset.description">Lead paragraph.</p>
                <div py:replace="Markup(content)" />
            </div>
            
            <div class="foot" py:if="asset.properties['cmf.general:bylines']">
                <ul>
                    <li><a py:attrs="{'href': asset.permalink}" class="icon permanent">Permanent URL</a></li>
                </ul>
                Written by 
                <span py:if="asset.owner"><a py:attrs="{'href': asset.owner.path + '/'}" class="icon base-account" py:content="asset.owner.title">Joe Random Hacker</a></span>
                <span py:if="not asset.owner"><i>Anonymous</i></span>
                <span><abbr class="datetime" py:attrs="{'title': asset.created.isoformat()}" py:content="'on ' + asset.created.strftime(asset.properties['cmf.formats:date'])" /></span
                ><span py:if="asset.modified and asset.modified != asset.created">, modified <abbr class="datetime" py:attrs="{'title': asset.modified.isoformat()}" py:content="'on ' + asset.modified.strftime(asset.properties['cmf.formats:date'])" /></span
                >.
            </div>
        </div>
    </body>
</html>