<form xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/"
            id="${id}"
            name="${name}"
            action="${action}"
            method="${method}"
            class="${css_class}"
            py:attrs="attrs"
        >
    <div class="error" py:if="error and show_error" py:content="error" />
    
    <py:if test="hidden_fields">
        <py:for each="field in hidden_fields" py:with="error = error_for(field)">
            <span py:replace="field.display(value_for(field), **args_for(field))" />
            <span py:if="show_children_errors and error and not field.show_error" class="error" py:content="error" />
        </py:for>
    </py:if>
    
    <div py:for="i, field in enumerate(fields)"
                id="${field.id}.container"
                class="field ${i%2 and 'odd' or 'even'}${' required' if field.is_required else ''}"
                py:attrs="args_for(field).get('container_attrs') or field.container_attrs"
                py:with="error = error_for(field)"
            >
        <label py:if="field.label_text and not field.suppress_label" id="${field.id}.label" for="${field.id}" py:content="field.label_text" />
        <div py:if="field.help_text" class="help" py:content="field.help_text" />
        <py:replace value="field.display(value_for(field), **args_for(field))" />
        <span py:if="show_children_errors and error and not field.show_error" class="fielderror" py:content="error" />
    </div>
    
    <div class="error" py:if="error and not error.error_dict" py:content="error" />
</form>